
.card_class {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.card_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_top_left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card_top_middle {
  display: flex;
  flex-direction: column;
  flex: 5;
  margin-left: 10px;
}

.author {
  font-size: .8rem;
  color: #5cb85c;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.create_date {
  color: #bbb;
  font-size: .8rem;
  display: block;
}

.card_top_right {
  display: flex;
}

.card_middle {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  outline: none;
}

.article_title {
  font-size: 1.2rem;
  color: #333333;
  font-weight: bold;
}

.article_desc {
  font-size: 1rem;
  color: #999;
}

.card_foot {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.article_read_more {
  width: 30%;
  max-width: 30%;
  font-size: .8rem;
  color: #bbb;
  vertical-align: middle;
}

.tag_container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.unlike_btn {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
}
