<nz-layout>
  <nz-header class="profile_header">
    <img class="profile_head_img" [src]="profile.image">
    <span class="profile_username">{{ profile.username }}</span>
    <div class="profile_head_bottom">
      <app-follow-button [hidden]="isUser" [profile]="profile" (toggle)="onToggleFollowing($event)"></app-follow-button>
    </div>
  </nz-header>
  <nz-content class="profile_body">
    <nz-tabset class="profile_tbset">
      <nz-tab nzTitle="My Post" (nzSelect)="selectTab(0)">
        <router-outlet></router-outlet>
      </nz-tab>
      <nz-tab nzTitle="Favorited Posts" (nzSelect)="selectTab(1)">
        <router-outlet></router-outlet>
      </nz-tab>
    </nz-tabset>
  </nz-content>
</nz-layout>
